@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Winky Sans', sans-serif;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 253, 248);
	gap: 20px;
}
